.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 50px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px 200px;
  gap: 35px;
  padding: 40px;
  height: 100vh;
}

/* 기본 박스 스타일 */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 50px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease; 
  background-color: white;
}
.box:hover{
    background-color: black;
    color: white;
}

*활동 페이지
.activities {
  padding: 60px;
}

.activity {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;

  opacity: 0;
  transform: translateX(-100px); /* 왼쪽에서 시작 */
  transition: all 0.8s ease;

  font-size: 50px;
}

.activity.show {
  opacity: 1;
  transform: translateX(0);
}

.activity img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
} 